body{
    background: url(assets/images/hogwarts.jpg) no-repeat center center absolute; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
}


div {
   background: rgb(226, 221, 221);
   position: fixed;
   width: 50%;
   z-index: 2; 
   top: 40%;
   left: 40%;
   padding: 5%;
   margin-top: -10%;
   margin-left: -10%;
   border-radius: 10%;
}

.gameScreen{
    margin-bottom: 50%;
    position: absolute
}

h1, p{
    color: black;
    font-family: 'Kaushan Script', cursive;
}

button{
    display: block;
    margin: 0 auto;
    padding: 5%;
    background: rgb(111, 111, 172);
    font-family: 'Kaushan Script', cursive;

}

input{
    font-family: 'Kaushan Script', cursive;
}